<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<footer th:fragment="footer">

    <div class="container">

        <h5 class="mb-2">

            🍽 FoodBridge

        </h5>

        <p>

            Community Food Rescue Platform

        </p>

        <hr class="border-light">

        <small>

            Built with love ❤️ by Kaviya

        </small>

        <br>

        <small>

            © 2026 Kaviya Srinivasan

        </small>

    </div>

</footer>

</body>

</html>